# Dependabot configuration
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  # Rust
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
